import * as React from "react";
import { SgGrid, SgInputBirthDate } from "@seedgrid/fe-components";

export default function App() {
  return (
    <SgGrid columns={{ base: 1, md: 3 }} gap={8} className="w-full">
      <SgInputBirthDate id="label-float" label="Float" labelPosition="float" />
      <SgInputBirthDate id="label-top" label="Top" labelPosition="top" />
      <SgInputBirthDate id="label-left" label="Left" labelPosition="left" labelWidth={140} labelAlign="end" />
    </SgGrid>
  );
}
