import * as React from "react";
import { SgInputTextArea } from "@seedgrid/fe-components";

export default function App() {
  return <SgInputTextArea id="demo-basic" label="Descricao" onChange={(value) => console.log(value)} />;
}
