import * as React from "react";
import { SgInputTextArea } from "@seedgrid/fe-components";

export default function App() {
  return <SgInputTextArea id="demo-minlines" label="Min 3 linhas" minLines={3} minLinesMessage="Digite ao menos 3 linhas" />;
}
