import * as React from "react";
import { SgInputCPF } from "@seedgrid/fe-components";

export default function App() {
  return <SgInputCPF id="cpf" label="Sem botão limpar" hintText="000.000.000-00" clearButton={false} inputProps={{}} />;
}
