import * as React from "react";
import { SgInputCPF } from "@seedgrid/fe-components";

export default function App() {
  return (
    <SgInputCPF
      id="cpf"
      label="CPF"
      hintText="000.000.000-00"
      validation={(value) => (value.startsWith("123") ? "Nao pode iniciar com 123" : null)}
      onValidation={(message) => console.log(message)}
      inputProps={{}}
    />
  );
}
