import * as React from "react";
import { SgInputPostalCode } from "@seedgrid/fe-components";

export default function App() {
  return (
    <SgInputPostalCode
      id="eventos"
      label="Com eventos"
      hintText="00000-000"
      required
      onChange={(value) => console.log("onChange:", value)}
      onEnter={() => console.log("focus")}
      onExit={() => console.log("blur")}
      onClear={() => console.log("cleared")}
      onValidation={(message) => console.log("validation:", message)}
    />
  );
}
