import * as React from "react";
import { SgInputPhone } from "@seedgrid/fe-components";

export default function App() {
  return <SgInputPhone id="a" label="Desabilitado" hintText="(11) 99999-0000" enabled={false} />;
}
