import * as React from "react";
import { SgGrid, SgInputPhone } from "@seedgrid/fe-components";

export default function App() {
  return (
    <SgGrid columns={{ base: 1, md: 3 }} gap={8}>
      <SgInputPhone id="float" label="Float" labelPosition="float" />
      <SgInputPhone id="top" label="Top" labelPosition="top" />
      <SgInputPhone id="left" label="Left" labelPosition="left" labelWidth={140} labelAlign="end" />
    </SgGrid>
  );
}
