import * as React from "react";
import { SgInputCPFCNPJ } from "@seedgrid/fe-components";

export default function App() {
  return (
    <SgInputCPFCNPJ
      id="doc"
      label="Documento alfanumerico"
      hintText="00.000.000/E08G-12"
      inputProps={{ defaultValue: "00.000.000/E08G-12" }}
    />
  );
}
