import * as React from "react";
import { SgPeriodSelector } from "@seedgrid/fe-components";

export default function Example() {
  return (
    <div className="flex flex-wrap gap-4">
      <SgPeriodSelector id="ps-disabled" label="Periodo" locale="pt-BR" disabled />
      <SgPeriodSelector id="ps-required" label="Periodo" locale="pt-BR" required />
    </div>
  );
}
