import * as React from "react";
import { SgInputEmail } from "@seedgrid/fe-components";

export default function App() {
  return (
    <SgInputEmail
      id="email"
      label="E-mail"
      hintText="name@domain.com"
      invalidMessage="E-mail inválido"
    />
  );
}
