import * as React from "react";
import { SgInputCNPJ } from "@seedgrid/fe-components";

export default function App() {
  return (
    <SgInputCNPJ
      id="cnpj"
      label="CNPJ alfanumerico"
      hintText="00.000.000/E08G-12"
      inputProps={{ defaultValue: "00.000.000/E08G-12" }}
    />
  );
}
