import * as React from "react";
import { SgInputCNPJ } from "@seedgrid/fe-components";

export default function App() {
  return <SgInputCNPJ id="cnpj" label="Desabilitado" hintText="00.000.000/0000-00" enabled={false} inputProps={{}} />;
}
