import * as React from "react";
import { SgInputCNPJ } from "@seedgrid/fe-components";

export default function App() {
  return (
    <SgInputCNPJ
      id="eventos"
      label="Digite e acompanhe os eventos"
      hintText="00.000.000/0000-00"
      required
      inputProps={{}}
      onChange={(value) => console.log("onChange:", value)}
      onEnter={() => console.log("focus")}
      onExit={() => console.log("blur")}
      onClear={() => console.log("cleared")}
      onValidation={(message) => console.log("validation:", message)}
    />
  );
}
