import * as React from "react";
import { SgToggleSwitch } from "@seedgrid/fe-components";

export default function Example() {
  const [value, setValue] = React.useState(false);

  return (
    <div>
      <SgToggleSwitch
        id="demo-basic"
        label="Ativar notificacoes"
        checked={value}
        onChange={setValue}
      />
      <p>Valor atual: {String(value)}</p>
    </div>
  );
}
